In [3]:
import configparser
import os

In [7]:
# Из конфига берем номера станций, по которым обучена модель
config = configparser.ConfigParser()
config.read('../confige.conf')

['../confige.conf']

In [10]:
dict(config.items('DIRECTORIES'))['project_path']

'/Users/iccomplex/Desktop/dvc_example/demo/'

### Подгружаем сырые данные

In [30]:
import pandas as pd

In [31]:
df_version_1 = pd.read_csv('../data/raw/iris.csv')
df_version_1.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [13]:
df_version_1 = df_version_1[df_version_1.columns[1:]]
df_version_1.head()

   sepal.width  petal.length  petal.width variety
0          3.5           1.4          0.2  Setosa
1          3.0           1.4          0.2  Setosa
2          3.2           1.3          0.2  Setosa
3          3.1           1.5          0.2  Setosa
4          3.6           1.4          0.2  Setosa

In [32]:
df_version_1.variety.unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [33]:
map_dict = {'Setosa':0, 'Versicolor':1, 'Virginica':2}

In [34]:
X = df_version_1.drop(['variety'], axis=1)
y = df_version_1.variety.map(map_dict)

In [35]:
df_version_1.to_csv('../data/processed/df_version_1.csv',index=False)

### Обучаем модель

In [36]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
clf = SVC(gamma=0.001, C=100.)

In [37]:
clf.fit(X, y)
y_predict = clf.predict(X)
accuracy_score(y_predict, y)

0.98

In [38]:
import pickle

with open('../models/clf.pickle', 'wb') as f:
     pickle.dump(clf, f)

In [39]:
with open('../models/clf.pickle', 'rb') as f:
     clf_new = pickle.load(f)

In [40]:
y_predict_new = clf_new.predict(X)
accuracy_score(y_predict_new, y)

0.98